* {
    font-family: sans-serif;
}
:root {
    --neon: #0cd;
}
body {
    height: 100vh;
    overflow-x: hidden;
    background: #25273a;
}
/* intro */
.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}
.panel_map,
.game_map {
    display: grid;
    grid-template-columns: repeat(3,min-content);
    margin: 5px;
    position: relative;
}
.panel_map .cs {
    width: 65px;
    height: 65px;
    background: transparent;
    border: 2.5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel_map .cs img {
    width: 45px;
    height: 45px;
}
.game_map_before {
    display: inline-block;
    width: 100%;
    height: 5px;
    position: absolute;
    background: #00e676;
    box-shadow: 
        0 0 5px #00e676,
        0 0 15px #00e676,
        0 0 100px #00e676;
    /* transform: translateY(32px); row-1 */
    /* transform: translateY(95px); row-2 */
    /* transform: translateY(160px); row-3 */
    /* transform: rotate(90deg) translate(95px,64px);  column-1 */
    /* transform: rotate(90deg) translate(95px,0);  column-2 */
    /* transform: rotate(90deg) translate(95px,-66px);  column-3 */

    /* transform: rotate(45deg); t-l
    bottom: 48%;
    left: -30px; */
    
    /* transform: rotate(-45deg); t-r
    bottom: 48%;
    left: -30px; */
}
.game_map .cs {
    width: 65px;
    height: 65px;
    background: transparent;
    border: 2.5px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_map .cs .o,
.panel_map .cs .o {
    display: inline-block;
    font-weight: 100;
    color: #efefef;
    transform: scale(4) translateY(-10%);
    filter:
        drop-shadow(0 0 5px var(--neon))
        drop-shadow(0 0 10px var(--neon));
    pointer-events: none;
}
.game_map .cs .x,
.panel_map .cs .x {
    display: inline-block;
    font-weight: 100;
    color: #efefef;
    transform: scale(4) translateY(-10%);
    filter:
        drop-shadow(0 0 5px #f31c1c)
        drop-shadow(0 0 15px #f31c1c);
    pointer-events: none;
}
.panel_map .cs:nth-child(1),
.game_map .cs:nth-child(1) {
    border-top: transparent;
    border-left: transparent;
}
.panel_map .cs:nth-child(2),
.game_map .cs:nth-child(2) {
    border-top: transparent;
}
.panel_map .cs:nth-child(3),
.game_map .cs:nth-child(3) {
    border-top: transparent;
    border-right: transparent;
}
.panel_map .cs:nth-child(4),
.game_map .cs:nth-child(4) {
    border-left: transparent;
}
.panel_map .cs:nth-child(6),
.game_map .cs:nth-child(6) {
    border-right: transparent;
}
.panel_map .cs:nth-child(7),
.game_map .cs:nth-child(7) {
    border-bottom: transparent;
    border-left: transparent;
}
.panel_map .cs:nth-child(8),
.game_map .cs:nth-child(8) {
    border-bottom: transparent;
}
.panel_map .cs:nth-child(9),
.game_map .cs:nth-child(9) {
    border-bottom: transparent;
    border-right: transparent;
}
#init {
    background: var(--neon);
    border: transparent;
    outline: transparent;
    padding: 5px 17px;
    border-bottom: 4px solid #178;
    cursor: pointer;
}
#init:hover {
    background: #09a;
    border-bottom: 4px solid #067;
}
#init h1 {
    color: #fff;
    font-size: 23px;
    letter-spacing: 5px;
    margin: 0;
    font-weight: 400;
}
/* menu */
.mode {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0 0 0;
}
.mode_option {
    padding: 5px 14px;
    background: var(--neon);
    cursor: pointer;
    position: relative;
}
.mode_option-on::after {
    content: '';
    display: inline-block;
    width: 80%;
    height: 8px;
    background: #5ff4;
    border-radius: 50%;
    position: absolute;
    left: 10%;
    bottom: -17px;
    pointer-events: none;
    filter: blur(4px);
}
.mode_option-off {
    transform: scale(0.9);
    opacity: 0.2;
    transition: transform 0.2s ease, opacity 0.2s ease;
}
.mode_option-off:hover {
    z-index: 1000;
    opacity: 0.7;
    transform: scale(1.1);
}
.mode-option_title {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #45475a;
}
.mode-option_presentation {
    display: flex;
    align-items: center;
}
.mode-option_presentation .player {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #09a;
}
.mode-option_vs {
    font-size: 19px;
    margin: 5px;
    font-weight: 100;
    color: #fff;
}
.details {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 20px;
}
.details .vs {
    font-size: 40px;
    color: #fff;
    font-style: italic;
}
.details .player-config {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 150px;
}
.details .p-1 {
    align-self: flex-start;
}
.details .p-2 {
    align-self: flex-end;
}
.details .player-config .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.details .player-config .avatar .change-avatar {
    padding: 10px;
    border-radius: 10px;
    background: #0cd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 130px;
    z-index: 1000;
    cursor: default;
}
.details .p-1 .avatar .change-avatar {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(110%,-25%);
}
.details .p-2 .avatar .change-avatar {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-110%,-25%);
}
.details .player-config .avatar .change-avatar::after {
    content: '';
    background: #0cd;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.details .p-1 .avatar .change-avatar::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-100%,-30px);
    clip-path: polygon(100% 0, 0 50%, 100% 100%);
}
.details .p-2 .avatar .change-avatar::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(100%,-30px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}
.details .player-config .avatar .change-avatar_option {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.details .player-config .gun {
    font-size: 80px;
    color: #fff;
}
.details .p-1 .gun {
    filter:
        drop-shadow(0 0 5px #f31c1c)
        drop-shadow(0 0 15px #f31c1c);
}
.details .p-2 .gun {
    filter:
        drop-shadow(0 0 5px #18a)
        drop-shadow(0 0 15px #18a);
}
.details_button {
    background: var(--neon);
    outline: transparent;
    border: transparent;
    border-bottom: 4px solid #178;
    padding: 5px 17px;
    cursor: pointer;
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    letter-spacing: 5px;
}
.details_button:hover {
    background: #09a;
    border-bottom: 4px solid #067;
}
/* game */
.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.game .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90px;
}
.game .player-2 {
    transform: rotate(180deg);
}
.game .player_avatar {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.player_score {
    font-size: 25px;
    color: #efefef;
}
/* bars */
.game_bars {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.game_bars path {
    color: #33a3ee;
}
.game_menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #434750ef;
    z-index: 1000;
    display: none;
    animation: show 0.2s ease-in forwards;
}
.game_menu {
    position: relative;
    transform: skewY(-15deg);
}
.game_menu_option::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #2e3133;
    transform-origin: right;
    transform: skewY(45deg);
    transition: background 0.4s;
}
.game_menu_option {
    position: relative;
    list-style: none;
    width: 200px;
    background: #3e3f46;
    padding: 15px;
    transform: translateX(0);
    transition: background 0.4s, transform 0.4s;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.game_menu_option::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #35383e;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: background 0.4s;
}
.game_menu_option:hover::before {
    background: #1f5378;    
}
.game_menu_option:hover {
    background: #33a3ee;
    transform: translateX(50px);
}
.game_menu_option:hover::after {
    background: #2982b9;    
}
.game_menu_option i {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0 8px 0 0;
}
.game_menu_option .ico-play {
    background: url('../icons/play.png') no-repeat;
    background-size: 100%;    
}
.game_menu_option .ico-reset {
    background: url('../icons/reset.png') no-repeat;
    background-size: 100%;    
}
.game_menu_option .ico-home {
    background: url('../icons/home.png') no-repeat;
    background-size: 100%;    
}
.game_menu_option span {
    color: #999;
    display: block;
    letter-spacing: 0.5em;
    transition: color 0.5s;
}
.game_menu_option:hover span {
    color: #efefef;
}
.game_menu_option:last-child::after {
    box-shadow: -100px 100px 20px #0002;
}
/* animation */
@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* responsive */
@media screen and (min-width:500px){
    .game {
        flex-direction: row;
    }
    .game .player-2 {
        transform: rotate(0);
    }
}